body {
  margin-left: 20px;
  margin-top: 30px;
}

h2 {
  margin-bottom: 0;
  color: white;
  font-weight: bold;
}

label {
  color: white;
  font-weight: bold;
}

h1 {
  color: white;
  font-weight: bold;
}

body {
  background-image: url("https://wallpapers.com/images/hd/beautiful-space-1920-x-1080-background-03r04bdllsmmgghh.jpg");
}