<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <head  style = "background-color: #ff6347">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h1 type="center">Seismo</h1>
    <h2>Enter Date and Time</h2>
    <form actions="/" method="post">
        <input type="datetime-local"  name="datetime">
    
    <h2>Lunar or Martian Data</h2>
    <label>Choose location of data:</label>
    <br>
    <select name="datalocation" id="datalocation">
        <option id="defaultoption">Select Option</option>
        <option id="terran">Earth Data</option>
        <option id='lunar'>Lunar Data</option>
        <option id='martian'>Martian Data</option>
    </select>
    <br>
    <br>
    <br>
    <button>Submit</button>
    <div id="result"></div>
</form>
<br>
<br>
<br>
<img src="../static/seismogram.png" alt="PROCCESED_IMAGE">

</body>
</html>